.container {
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    background-color: black;  
}
#map {
    
  width: 50%;
  margin: 0 auto;
}
.title {
  align-self: center;
  font-family:sans-serif;
  margin: 0 auto;
}