#map {
    height: 600px;
    width: 900px;
    z-index: 2;
    margin: 10px;
    padding: 15px
}

.example-form {
    
    text-align: center;
    width: 100%;
    float: left;

  }
  
  .example-full-width {
    width: 50%;
    text-align: center;
   
  }
  
  .form-map {

    
  }
  .form-field {
    
    width: 350px;
  }